@{
    Layout = null;
    ViewBag.Title = "Not Found";
}

<head>
    <title>Página não encontrada</title>
    <style>
        body {
            background-color: #F1F1F1;
        }
    </style>
</head>

<img src="~/img/pagina/erro/erro404.png" width="70%"/>