@{
    ViewData["Title"] = ViewBag.Name + " | Pré-Feitos";
    ViewData["Description"] = ViewBag.Description;
    ViewData["Keywords"] = ViewBag.Keywords;
}

<section id="preFeitos">
    <div class="container">
        <h1>@ViewBag.Name.ToString().ToUpper()</h1>
    </div>

    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-4">
                <img src="~/img/pagina/prefeitos/teste_exemplo/1.png" />
                <a href="" class="mt-5">Caneca Super Madrinha</a>
            </div>
            <div class="col-lg-4">
                <img src="~/img/pagina/prefeitos/teste_exemplo/2.png" />
                <a href="" class="mt-5">Caneca Super Madrinha 2</a>
            </div>
            <div class="col-lg-4 ">
                <img src="~/img/pagina/prefeitos/teste_exemplo/3.png" />
                <a href="" class="mt-5">Sweatshirt Super Madrinha</a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-4">
                <img src="~/img/pagina/prefeitos/teste_exemplo/4.png" />
                <a href="" class="mt-5">Tshirt Super Madrinha</a>
            </div>
            <div class="col-lg-4">
                <img src="~/img/pagina/prefeitos/teste_exemplo/5.png" />
                <a href="" class="mt-5">Tshirt Madrinha Mais Querida do Mundo</a>
            </div>
            <div class="col-lg-4 ">
                <img src="~/img/pagina/prefeitos/teste_exemplo/6.png" />
                <a href="" class="mt-5">Tshirt Sou uma Madrinha Babada</a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-4">
                <img src="~/img/pagina/prefeitos/teste_exemplo/7.png" />
                <a href="" class="mt-5">Tshirt Melhor Madrinha de Sempre</a>
            </div>
            <div class="col-lg-4">
                <img src="~/img/pagina/prefeitos/teste_exemplo/8.png" />
                <a href="" class="mt-5">Almofada Madrinha Mais Querida do ...</a>
            </div>
            <div class="col-lg-4 ">
                <img src="~/img/pagina/prefeitos/teste_exemplo/9.png" />
                <a href="" class="mt-5">Tshirt Madrinha Louca</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="~/img/pagina/prefeitos/teste_exemplo/10.png" />
                <a href="" class="mt-5">Avental Madrinha Há Só 1 </a>
            </div>
            <div class="col-lg-4">
                <img src="~/img/pagina/prefeitos/teste_exemplo/11.png" />
                <a href="" class="mt-5">Avental Super Madrinha</a>
            </div>
            <div class="col-lg-4 mb-4">
                <img src="~/img/pagina/prefeitos/teste_exemplo/12.png" />
                <a href="" class="mt-5">Saco Exclusivo da Melhor Madrinha</a>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-lg-10 text-center">
                1/2
            </div>
            <div class="col-lg-2">
                <a href="" class="mt-5">Próximo</a>
            </div>
        </div>

    </div>

</section>
