@{
    ViewData["Title"] = "Página Inicial";
    ViewData["Description"] = "Personalize os seus produtos preferidos com a Colorme e torne-se exclusivo.";
    ViewData["Keywords"] = "Colorme, Estampagem, Colorme Paços de Ferreira, Lojas em Paços de Ferreira, Paços de Ferreira, impressão, prendas, prendas originais, prendas natal, prendas pai, prendas de aniversario, personalização, personalizar produtos";
}

<div class="marquee">
    <div>
        <span>ENTREGAS EM 10 A 15 DIAS ÚTEIS</span>
        <span>BEM-VINDO! OBRIGADA PELA VISITA</span>
        <span>ENVIO GRÁTIS NUMA COMRA SUPERIOR A 80€</span>
    </div>
</div>

<section class="hero-image">
    <div class="container">
        <h2 id="mensagemCapa" >ESTE NATAL OFEREÇA MAIS<br />OFEREÇA <span id="mensagemCapaTextoDinamico">Colorme</span></h2>
    </div>
    <img src="~/img/pagina/index/capa.png" alt="Capa Especial Natal" width="100%"/>
</section>

<section>
    <div class="container">
        <h1>MAIS PERSONALIZADOS</h1>
    </div>
</section>

<section>
    <div class="container">
        <h1>NOSSOS TRABALHOS</h1>
    </div>

    <div class="marquee-images mt-4">
        <div>
            <img src="~/img/pagina/index/teste_nossosTrabalhos/1.png" />
            <img src="~/img/pagina/index/teste_nossosTrabalhos/2.png" />
            <img src="~/img/pagina/index/teste_nossosTrabalhos/3.png" />
            <img src="~/img/pagina/index/teste_nossosTrabalhos/4.png" />
            <img src="~/img/pagina/index/teste_nossosTrabalhos/5.png" />
            <img src="~/img/pagina/index/teste_nossosTrabalhos/6.png" />
            <img src="~/img/pagina/index/teste_nossosTrabalhos/7.png" />
        </div>
    </div>

    <div class="container text-center mt-5">
        <a class="button" asp-area="" asp-controller="Geral" asp-action="Portfolio">VER MAIS</a>
    </div>

</section>