@{
    ViewData["Title"] = "Portólio";
    ViewData["Description"] = "Veja alguns dos serviços que prestamos.";
    ViewData["Keywords"] = "ideias para prendas, ideias de prendas, Colorme, portfolio, portfolio Colorme";
}

<section id="portfolio">
    <div class="container">
        <h1>PORTFÓLIO</h1>
    </div>

    <div class="container">
        <div class="row mb-lg-4 mb-sm-0">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="~/img/pagina/portfolio/1.png" alt="Par de Tshirts dizendo Lil Sis / Big Bos" />
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0">
                <img src="~/img/pagina/portfolio/2.png" alt="Capa de Telemóvel dizendo I love One Direction" />
            </div>
            <div class="col-lg-3 container">
                <div class="row">
                    <div class="col-lg-12 mb-lg-5 mb-4 mb-lg-0">
                        <img src="~/img/pagina/portfolio/3.png" alt="Lembrança de Bodas de Prata 25 anos" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-4 mb-lg-0">
                        <img src="~/img/pagina/portfolio/4.png" alt="Chapéu de cozinheiro dizendo Queen of Kitchen" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-lg-4 mb-sm-0">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="~/img/pagina/portfolio/5.png" alt="Placa de boas vindas a jantar de casamento" />
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="~/img/pagina/portfolio/6.png" alt="Garrafas de sabão para criança" />
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="~/img/pagina/portfolio/7.png" alt="Luva de cozinhar dizendo I love Cooking" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="~/img/pagina/portfolio/8.png" alt="Almofada dizendo Sou um Padrinho Babado" />
            </div>
            <div class="col-lg-8 mb-4 mb-lg-0">
                <img src="~/img/pagina/portfolio/9.png" alt="Presende de dia de S. Valentim" />
            </div>
        </div>
    </div>

</section>