@{
    ViewData["Title"] = "Sobre Nós";
    ViewData["Description"] = "A empresa de estampagem de Paços de Ferreira em que pode confiar.";
    ViewData["Keywords"] = "Materiais para seregrafia, Colorme";
}

<section itemscope itemtype="https://schema.org/AboutPage">
    <div class="container">
        <h1>A EMPRESA</h1>
    </div>
    
    <div class="about-background">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 about-text" itemprop="about">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
                </div>
                <div class="col-lg-3" itemprop="founder">
                    <img src="~/img/pagina/sobreNos/dono.png" class="about-image img-fluid" alt="Fotografia do fundador e atual dono da Colorme" />
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <img src="~/img/pagina/sobreNos/lojaInterior.png" class="shadow img-fluid" alt="Fotografia do interior da loja Colorme" width="100%" />
</section>
